@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: rgb(255, 255, 255);
}

video{
    object-fit: cover;
    height: 100vh;
}

.content{
    position: relative;
    top: -750px;
}

.overlay{
    position: absolute;
  
}